@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Scrollbar Chrome */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    margin-block: 10px;
}
*::-webkit-scrollbar-thumb {
    background: #f0f1f2;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #bac1c7;
}


body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 8vh;
    padding: 0 20px;
}

header .title {
    font-family: 'Belanosima', sans-serif;
    color: #4bad99;
    font-size: 26px;
}
a,  a:visited {
    text-decoration: none;
}
nav a, nav a:visited{
    color: black;
    font-weight: 700;
}
header, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    gap:20px
}
main {
    width: 100%;
    height: 92vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
}

/* INDEX */
#index {
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size: cover;
}
#title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#title h1 {
    font-weight: 300;
    letter-spacing: 1px;
}
#title p {
    font-size: 18px;
  /* font-weight: 100; */
    letter-spacing: 1px;
}
.booking-container {
    display: flex;
    align-items: stretch;
    gap: 200px;
}
.booking-container div {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 40px 30px;
}
.booking-container div:first-child,  .booking-container div:first-child  form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
}
.btn {
    color: white;
    background-color: #4bad99;
    justify-self: flex-end;
}
.btn, input {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
input {
    background-color: #f0f1f2;
}
input:hover {
    background-color: #bac1c7;
}
input:first-child {
    box-shadow: 0px 2px 0px -1px grey;
    margin-bottom: 1px;
}
input:last-child {
    margin-top: 40px;
}

#casper {
    width: 90%;
   padding: 30px;
   border-top: 2px #4bad99 solid;
   text-align: center;
}
#imageTrain {
    margin-top: 20px;
    width: 120px;
}
.tripsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* overflow: scroll; */
    overflow-y: scroll;
}
.trip {
    background-color: #f8eeef;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}






